* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;

}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
}

.grid div {
    width: 10%;
    height: 10%;
    border: 1px solid black;
}

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 700px;
    align-items: center;
    text-align: center;
}

.player-indicator {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    background-color: #aad4ff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ship-btn {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #d6eaff;
    border: 1px solid #0077cc;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

.ship-btn:hover {
    background-color: #aad4ff;
}

.position-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

.position-container button {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #d6eaff;
    border: 1px solid #0077cc;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

.selected {
    background-color: #0077cc;
}

.ship {
    background-color: lightseagreen;
}

.gameBtnConatiner {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

.gameBtnConatiner button {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #d6eaff;
    border: 1px solid #0077cc;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.computer-ship {
    background-color: orange;

}

#playAgainContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

.playAgainBtn {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #d6eaff;
    border: 1px solid #0077cc;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.hide {
    display: none;
}